.walletTableAdmin {
    width: 99%;
}

.walletTableAdmin
    .css-182u8a6-MuiInputBase-root-MuiOutlinedInput-root:hover
    .MuiOutlinedInput-notchedOutline {
    border-color: #4cceac !important;
}
.walletTableAdmin .box {
    padding-inline: 3%;
    padding-block: 20px;
    background-color: #283453;
    border-radius: 6px;
    margin-block: 50px;
}

.walletTableAdmin .overFlow {
    overflow: scroll;
    max-height: 80vh;
    overflow-x: auto;
    overflow-y: auto;
    padding-right: 7px;
}

.walletTableAdmin .content {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 30px;
}

.walletTableAdmin .balance_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.walletTableAdmin .balance {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 35px;
}

.walletTableAdmin .span {
    min-width: 80px;
    display: inline-block;
}

.walletTableAdmin .trans_box {
    border: solid 1px gray;
    border-radius: 7px;
    padding-inline: 20px;
    padding-block: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

.walletTableAdmin .trans_product_img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 7px;
}

.walletTableAdmin .balance_text {
    font-size: 25px;
    color: #70d8bd;
}

.walletTableAdmin .trans_shop_name {
    font-size: 25px;
    font-weight: bold;
}
.walletTableAdmin .trans_shop_location {
    margin-bottom: 20px;
}
.walletTableAdmin .trans_time_box {
    display: flex;
    gap: 20px;
    align-items: baseline;
}
.walletTableAdmin .trans_time {
    font-size: 17px;
    font-weight: 600;
}
.walletTableAdmin .trans_flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 17%;
    margin-block: 15px;
}
.walletTableAdmin .trans_flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.walletTableAdmin .trans_order_time {
    font-size: 17px;
    font-weight: 600;
}
.walletTableAdmin .trans_qty {
    margin-block: 15px;
    font-size: 17px;
    font-weight: 600;
}
.walletTableAdmin .trans_acc_name {
    font-size: 20px;
    font-weight: bold;
}
