.packageTable .createBtn {
    background-color: #23ce48;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-transform: capitalize;
    transition: 0.3s;
}
.packageTable .createBtn:hover {
    background-color: #189b35;
}
