.changePassword {
    padding-inline: 15%;
}

.changePassword .flex-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    margin-top: 25px;
}

.changePassword .span {
    min-width: 165px;
    display: inline-block;
}
.changePassword .login__validation__error {
    padding-left: 10px;
    height: 12px;
    color: #d32f2f;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
}
.changePassword .btn {
    width: 17%;
    padding-block: 10px;
    background-color: #70d8bd;
    font-size: 18px;
    margin-top: 15px;
}

.changePassword .btn:hover {
    background-color: #5cb29b;
}

.changePassword .flex_center {
    display: flex;
    gap: 10px;
    align-items: center;
}

.changePassword .error {
    color: red;
    font-size: 13px;
    margin-left: 10px;
}
