.adminSidebar {
    position: sticky;
    top: 0;
    height: 100%;
}

.adminSidebar .box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-block: 5px;
    border-radius: 10px;
    margin-left: 10px;
}
.adminSidebar .box:hover {
    background-color: #aaaaaa47;
    cursor: pointer;
}
.adminSidebar .selected_box {
    background-color: #aaaaaa47;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-block: 5px;
    border-radius: 10px;
    margin-left: 10px;
}
.adminSidebar .flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
