.newPassword {
    height: 100vh;
    background-color: #141b2d;
    display: flex;
    align-items: center;
}

.newPassword .signup__form {
    width: 75%;
}

.newPassword .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newPassword .login__title {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #70d8bd;
}
.newPassword .login__desc {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    word-spacing: 1px;
    text-align: center;
}

.newPassword .login__view__password__btn {
    cursor: pointer;
    color: #70d8bd;
}

.newPassword .login__validation__error {
    padding-left: 10px;
    height: 12px;
    color: #d32f2f;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
}

.newPassword .login__btn {
    text-transform: capitalize !important;
    font-weight: 700 !important;
    font-family: "Inter", sans-serif !important;
    font-size: 20px;
    background-color: #55ab95;
    margin-top: 16px;
}

.newPassword .login__btn:hover {
    background-color: #419781;
}
